
/* Background de la nav au scroll */

.onNavScroll{
    background-color: red
}

#desktop_nav{
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white
}

#desktop_nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#desktop_nav ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
#desktop_nav ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:black;

    transition: all 0.3s ease;
}
.logo{
    width: 140px;
}

#desktop_nav ul li a:hover{
    font-size: 120%;
    font-weight: 600;
}

/* Responsive */
/* **** */
.navigation{
    visibility: hidden;
}

.navigationCheckbox {
    display: none;
}

.navigationBg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right:0;
    background-image: radial-gradient(#fff, orange);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}


.navigationBtn {
    background-color: #fff;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 4rem;
    right: 0;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}


.navigationIcon {
    position: relative;
    margin-top: 1.5rem;
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.navigationIcon::before,
.navigationIcon::after {
    width: 2rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    content: "";
    position: absolute;
    left: 8px;
    transition: all .2s;
}

.navigationIcon::before {
    top: -.8rem;
}

.navigationIcon::after {
    top: .8rem;
}


.nav {
    height: 100vh;
    position: fixed;
    width: 0;
    opacity: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.navigationListe {
    position: absolute;
    top: -85%;
    left: -13%;
    /* transform: translate(-50%, -50%); */
    list-style-type: none;
    text-align: center;
    width: 100%;
}


.liens {
    display: inline-block;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


.navigationCheckbox:checked ~ .navigationBg {
    transform: scale(80);
}


.navigationCheckbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
}


.navigationCheckbox:checked+ .navigationBtn .navigationIcon {
    background-color: transparent;
}

.navigationCheckbox:checked+ .navigationBtn .navigationIcon::before {
    top: 0;
    transform: rotate(135deg);
}
.navigationCheckbox:checked+ .navigationBtn .navigationIcon::after {
    top: 0;
    transform: rotate(-135deg);
}

/* Responsive */
@media (max-width : 460px){
    .navigation{
        visibility: visible;
    }
}